
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-skype:before { content: '\f30b'; } /* '' */
.icon-linkedin-rect:before { content: '\f312'; } /* '' */
.icon-youtube:before { content: '\f313'; } /* '' */
